<h2>User info</h2>
<%= form_with model:@user do |f| %>
  <div>
    <label for="user_name">Name</label><br>
    <%= f.text_field :name, autofocus: true, id:"inputName" %>
  </div>
  <div>
    <label for="user_image">Image</label><br>
    <%= f.file_field :profile_image, placeholder: "ファイルを選択", accept: "image/*" %>
  </div>
  <div>
    <label for="user_introduction">Introduction</label><br>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= f.submit "Update User" %>
  </div>
<% end %>
